<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat Da Burger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Barriecito|Coiny|Francois+One|Gloria+Hallelujah|Luckiest+Guy|Permanent+Marker|Ultra&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>